@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Global Styles */
:root {
  --nav-primary-color: lightgreen;
  --nav-text-color:Black;
  --nav-a-hov-color:White;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  color: var(--nav-primary-color);
  text-decoration: none;
}
a:hover {
  color: #666;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}



/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 3rem;
  background-color: #555;
  color: #fff;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: var(--nav-text-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: var(--nav-a-hov-color);
}